<div class="row">
  <div class="col">
    <h1 class="display-2 mb-4">Preguntas</h1>
  </div>
</div>
<div class="row" *ngIf="mensage_estado" >
  <div class="{{mensage_estado.error? 'alert alert-danger' : 'alert alert-success'}}" role="alert">
    {{ mensage_estado.data }}
  </div>
</div>
<div class="row">
  <div class="card p-4 m-1 col-sm">
    <formulario [relacion_enviada]="relacion_enviada_view" (mensaje_status)="mensage_estado = $event" (info)="info_preguntas=$event"></formulario>
  </div>
  <div class="card p-4 m-1 col-sm" *ngIf="!edit_status">
    <view (active_relacion)="relacion_enviada_view = $event" (mensaje_status_view)="mensage_estado = $event" (edit_element_status)="edit_status=$event" [info]="info_preguntas"></view>
  </div>
  <div class="card p-4 m-1 col-sm" *ngIf="edit_status">
    <edit-element [uid_element]="edit_status" (cancel_edit)="edit_status=$event" (mensaje_status)="mensage_estado = $event"></edit-element>
  </div>
</div>